.header {
    width: 8.6%;
    height: 125px;
    background-position: left center;
    background-repeat:no-repeat;
    background-size:cover ;
    background-image:  url(image/apple.png);

}
.header h1{
    color: black;
    font-size:50px;
    position: fixed;
    width:100px;
    top: 80px;
    left: calc((100vw - 100px)/2);
    display:flex;
    jostify-content:center;
}
.header2